article{
    position: relative;
    left: 8%;
    font-size: 19px;
    text-align: justify;
    line-height: 1.5;
}

h2{
    position: relative;
    text-align: center;
    font-size: 29px;
    font-family: Arial,sans-serif;
    color: #69008C;
}

h3{
    text-align: justify;
    font-size: 20px;
    font-family: Arial,sans-serif;
    color: #4169E1;
}

#h3-form{
  text-align: center;
}

#local{
    position: relative;
    float: left;
    width: 50%;
}

#mapa{
    position: relative;
    margin-top: 2%;
}

iframe{
    box-shadow: 0 1px 2px rgba(0,0,0,1);
}

.form {
  width: 50%;
  float: right;
}

.formulario-input, .formulario-textarea {
  width: 90%;
  color: #292929;
  font-size: 18px;
  background-color: #eee;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  height: 40px;
  margin-left: 2%;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
}

.formulario-textarea {
  height: 200px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Arial", Times, serif;
}

.formulario-button {
  width: 90%;
  font-size: 20px;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  opacity: 0.8;
  margin-left: 2%;
  margin-bottom: 20px;
  cursor: pointer;
  background: #888;
  display: block;
  border: none;
  border-bottom: 1px solid #555;
  border-right: 1px solid #555;
  transition: 1s;
}

.formulario-button:hover {
  opacity: 1;
}

footer#rodape{
    clear: both;
    margin-top: 2px;
}